@import url(colors.css);

body {
  align-items: center;
  background: var(--background-color);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  font-family: monospace;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 1em
}

a {
  color: inherit;
  text-decoration: inherit
}

.greeting { font-size: 4em }

.search {
  align-items: center;
  background: var(--font-color);
  border-radius: 2em;
  display: flex;
  height: 50px;
  margin: 1em;
  max-width: 500px;
  padding: 0 15px 0 15px;
  width: 80%
}

.search-icon {
  height: 50%
}

.search-form {
  display: flex;
  height: 90%;
  margin-left: 15px;
  width: 90%
}

.tabs {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.tab {
  align-items: center;
  background: var(--background-color-secondary);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  margin: 15px;
  max-width: 170px;
  padding: 15px;
  width: 100%;
}

.tab-title { font-size: 3em }

.pfp {
  border-radius: 50%;
  width: 80%
}

.name {
  font-size: 2em;
  margin: 15px 0 0 0
}

.link { 
  font-size: 2em;
  transition: color 0.5s
}

.link:hover { color: #ff9eb5 }

.social { color: #B48EAD }

.media { color: #A3BE8C }

.tech { color: #EBCB8B }

.work { color: #D08770 }

.weather {
  align-items: center;
  display: none;
  flex-direction: row;
  justify-content: center;
  max-width: unset;
  width: auto
}

.weather-city { font-size: 1.5em }

.weather-icon { padding-right: 15px }

#q {
  background: inherit;
  border: none;
  color: #202020;
  font-size: 1.5em;
  outline: none;
  width: 100%
}

/* Uncomment, if you want photo background
body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url('https://images.unsplash.com/photo-1542549589620-82611fe4f8da?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=yubi-s-800dhBx7AEo-unsplash.jpg&w=1920')
}

.tab {
  backdrop-filter: blur(5px);
  background: var(--background-color-secondary-transparent)
}
*/
